body{
    font-family:sans-serif;
    background-color:white;
    color:black;
}
a, a:link, a:visited, a:hover{
    color:magenta;
}
.flex-container{
    flex-wrap: wrap;
    display:flex;
}
#cont{
    max-width:600px;
    margin-top:20px;
}
.pod{
    border:solid magenta 1px;
    border-radius: 4px;

}